{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block banner_title %}Upcoming Markets{% endblock banner_title %}
{% block content %}
    {% if user.is_authenticated and user.is_superuser %}
        <div class="row justify-content-center mt-4 mx-sm-1">
            <div class="col-sm-12 col-md-8 col-xl-6 px-5">
                <h2 class="mt-2 text-brand">Add a new event:</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            {{ new_event_form.location_name|as_crispy_field }}
                            {{ new_event_form.location_address|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ new_event_form.date|as_crispy_field }}
                            {{ new_event_form.start_time|as_crispy_field }}
                            {{ new_event_form.end_time|as_crispy_field }}
                            {{ new_event_form.google_maps_link|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ new_event_form.description|as_crispy_field }}
                        </div>
                    </div>
                    <button type="submit" class="btn w-100 border-brand-medium btn-brand">Submit</button>
                </form>
                <hr>
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-center mt-4 mx-sm-1">
        <div class="col-sm-12 col-md-8 col-xl-6 px-sm-5">
            <p>Here you can find out the dates of all the events that I will be at.</p>
            <p>I love taking my stall to different markets across Merseyside and am always looking for new pop ups to attend!</p>
            {% for event in events %}
                <div class="row border-brand-highlight-medium rounded mx-auto mb-4 py-2">
                    <div class="col-2 my-auto">
                        <a href="{{ event.google_maps_link }}" target="_blank" class="icon-brand" title="Open Google Maps page for {{ event.location_name }}">
                            <i class="fas fa-map-marked-alt fa-2x"></i>
                        </a>
                    </div>
                    <div class="col-10">
                        <h4><strong class="text-brand">{{ event.location_name }}</strong></h4>
                        <div class="row">
                            <div class="col-4"><strong>When: </strong></div>
                            <div class="col-8">{{ event.date }} - {{ event.start_time|time:"H:i" }} - {{ event.end_time|time:"H:i" }}</div>
                            <div class="col-4"><strong>Where: </strong></div>
                            <div class="col-8">{{ event.location_address|linebreaks }}</div>
                            <div class="col-4"><strong>Description: </strong></div>
                            <div class="col-8">{{ event.description }}</div>
                            {% if user.is_authenticated and user.is_superuser %}
                                <div class="col-4"><strong>Delete Event:</strong></div>
                                <div class="col-8"><a class="remove-event remove-pointer text-center" id="remove_{{ event.id }}"><i class="fas fa-trash"></i></a></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
	{{ block.super }}
    <script>
        $('.remove-event').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var eventId = $(this).attr('id').split('remove_')[1];
            var url = `/events/remove/${eventId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
                .done(function() {
                    location.reload();
                });
        });
    </script>
{% endblock %}
