{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col">
          
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mt-4">
        {% comment %} About The Company {% endcomment %}
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h2>About Mini Sew N Sew</h2>
            <p class="text-center">Hello! Welcome to my website, I am so delighted that you are visiting Mini Sew N Sew! My name is Jeri and I am mum to two gorgeous girls, who are the main inspiration for my venture. I love making their clothes and after a few years of doing so, I finally decided it was time to take the leap into making these creations available to the world. Come take a walk with me into my happy place, this site is full of my creations, all made to order from my home in Wirral and made with love and joy. I pride myself in attention to detail, and creating things designed to last the test of time. Please get in touch with any questions, custom requests and just for a chat too, cannot wait to hear from you.</p>
          </div>
          <div class="col-md-6 d-md-block d-none">
            <img src="/media/logo-large.webp" alt="" class="img-fluid">
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}