{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row brand-banner">
            <div class="col text-center">
                <div class="">
                    <h2>Checkout</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-sm-12 col-md-6 col-lg-4 px-5">
                <h3 class="text-brand">Please enter your delivery details:</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ order_form | crispy }}
                    <button type="submit" class="btn w-100 border-brand-medium btn-brand">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
