{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
            <div class="row">
                <div class="col"></div>
            </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row brand-banner">
            <div class="col text-center">
                <div class="">
                    <h2>FAQs</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-sm-12 col-md-8 col-xl-6 px-5">
                <div class="icon text-center text-brand"><i class="fas fa-globe-americas fa-4x"></i></div>
                <h3 class="mt-2">Which countries do you ship to?</h3>
                <p>National shipping within the UK is available for £{{ delivery_amount|floatformat:2 }} Royal Mail second class signed for.
                    Local hand delivery within parts of Merseyside is available.
                    At present we do not ship internationally.</p>
            </div>
            <div class="col-sm-12 col-md-8 col-xl-6 px-5">
                <div class="icon text-center text-brand"><i class="fas fa-clock fa-4x"></i></div>
                <h3 class="mt-2">What is your turnaround time for made to order?</h3>
                <p>I aim to complete and post all orders within 3 weeks, however as I am a sole trader if there is a delay I will always let you know!</p>
            </div>       
            <div class="col-sm-12 col-md-8 col-xl-6 px-5">
                <div class="icon text-center text-brand"><i class="fas fa-ruler fa-4x"></i></div>
                <h3 class="mt-2">Size Guide</h3>
                <div class="table-responsive">
                    <table class="table table-sm small">
                        <thead class="text-brand">
                            <tr>
                                <th>Age</th>
                                <th>Waist</th>
                                <th>Height</th>
                                <th>Chest</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>0-3 months</td>
                            <td>Up to 41cm</td>
                            <td>Up to 61cm</td>
                            <td>Up to 44cm</td>
                        </tr>
                        <tr>
                            <td>3-6 months</td>
                            <td>41-43cm</td>
                            <td>61-67cm</td>
                            <td>44-46cm</td>
                        </tr>
                        <tr>
                            <td>6-9 months</td>
                            <td>43-45cm</td>
                            <td>67-72cm</td>
                            <td>46-47cm</td>
                        </tr>
                        <tr>
                            <td>9-12 months</td>
                            <td>45-47cm</td>
                            <td>72-78cm</td>
                            <td>47-48cm</td>
                        </tr>
                        <tr>
                            <td>12-18 months</td>
                            <td>47-49cm</td>
                            <td>78-83cm</td>
                            <td>48-51cm</td>
                        </tr>
                        <tr>
                            <td>18-24 months</td>
                            <td>49-51cm</td>
                            <td>83-88cm</td>
                            <td>51-53cm</td>
                        </tr>
                        <tr>
                            <td>2-3 years</td>
                            <td>51-52cm</td>
                            <td>88-94cm</td>
                            <td>53-55cm</td>
                        </tr>
                        <tr>
                            <td>3-4 years</td>
                            <td>52-54cm</td>
                            <td>94-100cm</td>
                            <td>55-58cm</td>
                        </tr>
                        <tr>
                            <td>4-5 years</td>
                            <td>54-56 cm</td>
                            <td>100-108cm</td>
                            <td>58-62cm</td>
                        </tr>
                        <tr>
                            <td>5-6 years</td>
                            <td>56-58cm</td>
                            <td>108-116cm</td>
                            <td>62-66cm</td>
                        </tr>
                        <tr>
                            <td>6-7 years</td>
                            <td>58-60cm</td>
                            <td>116-122cm</td>
                            <td>66-68cm</td>
                        </tr>
                        <tr>
                            <td>7-8 years</td>
                            <td>60-61cm</td>
                            <td>122-128cm</td>
                            <td>68-70cm</td>
                        </tr>
                        <tr>
                            <td>8-10 years</td>
                            <td>61-63cm</td>
                            <td>128-140cm</td>
                            <td>70-72cm</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-xl-6 px-5">
                <div class="icon text-center text-brand"><i class="fas fa-tape fa-4x"></i></div>
                <h3 class="mt-2">Measuring Guidance</h3>
                <p>Please take all your measurements in cm, and ask your little ones to stand as still as possible to get this as accurate as you can!</p>
                <p><strong>Chest: </strong>Measure the horizontal circumference around the body, under the arms and around the fullest part of the chest (when they do a big breath to make sure enough room!) including the lowest portion of the shoulder blades.</p>
                <p><strong>Waist: </strong>Measure the minimum horizontal circumference around the body at waist height (the middle bit).</p>
                <p><strong>Height: </strong>Measure the distance from the top of the head to the soles of the feet along the back of your child without shoes (make sure they're not on their tip toes).</p>
                <p><strong>Head circumference: </strong>Measure from the middle of the forehead to the farthest point of the rear of the head and back to the forehead keeping the tape measure above the ears. If you’ve got big hair try to not flatten it too much to make sure the hat sits right for you!</p>
            </div>
            <div class="col-sm-12 col-md-8 col-xl-6 px-5">
                <div class="icon text-center text-brand"><i class="fas fa-question-circle fa-4x"></i></div>
                <h3 class="mt-2">Do you accept returns?</h3>
                <p>Made to order garments are only returnable if faulty. Please contact me to see what we can do to rectify any issues.</p>
                <p>Ready to ship items may be returned in an unused condition at my discretion. Just get in touch!</p>
            </div>     
        </div>
    </div>
{% endblock %}
