{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block banner_title %}Shopping Basket{% endblock banner_title %}
{% block content %}
    <section class="row justify-content-center">
      <div class="col-md-auto my-auto">
        {% if basket_items %}
          <div class="table-responsive">
            <table class="table table-sm table-borderless">
              <thead class="text-brand">
                <tr>
                  <th scope="col">Product Info</th>
                  <th scope="col"></th>
                  <th scope="col">Price</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Subtotal</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              {% for item in basket_items %}
                <tr>
                  <td class="p-3 w-25">
                    <img src="{{ item.product.image.url }}" alt="" class="img-fluid basket-img">
                  </td>
                  <td class="py-3 w-50">
                    <p class="my-0"><strong>{{ item.product.friendly_name }} {{ item.product.category }}</strong></p>
                    <p class="my-0"><strong>Size: </strong>{{ item.size }}</p>
                    <p class="my-0"><strong>Order type: </strong>{% if item.ready_to_ship %}buy now{% else %}request{% endif %}</p>
                  </td>
                  <td class="py-3">
                    <p class="my-0">£{{ item.product.price }}</p>
                  </td>
                  <td class="py-3">
                    <p class="my-0">{{ item.quantity }}</p>
                  </td>
                  <td class="py-3">
                    <p class="my-0">£{% widthratio item.product.price 1 item.quantity %}</p>
                  </td>
                  <td class="py-3">
                    <a class="remove-item text-center remove-pointer" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small><i class="fas fa-trash"></i></small></a>
                  </td>
                </tr>
              {% endfor %}
              <tr>
                <td colspan="6" class="pt-5 text-right">
                  <h6><strong>Basket Total: </strong>£{{ total|floatformat:2 }}</h6>
                  <h6><strong>Delivery: </strong>£{{ delivery|floatformat:2 }}</h6>
                  <h4 class="mt-4"><strong>Grand Total: </strong>£{{ grand_total|floatformat:2 }}</h4>
                </td>
              </tr>
              <tr>
                <td colspan="6" class="text-right">
                  <a href="{% url 'checkout' %}" class="btn btn-brand border-brand-medium btn-lg">
                    <span class="text-brand"><i class="fas fa-lock"></i> Secure Checkout</span>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        {% else %}
          <h3 class="text-brand mt-4">There are no items in your shopping basket!</h3>
          <p class="mt-4"><a class="btn w-100 border-brand-medium btn-brand" href="{% url 'products' %}" >Go to shop</a></p>
        {% endif %}
      </div>
    </section>
{% endblock %}

{% block postloadjs %}
	{{ block.super }}
  <script>
    $('.remove-item').click(function(e) {
      var csrfToken = "{{ csrf_token }}";
      var itemId = $(this).attr('id').split('remove_')[1];
      var size = $(this).data('product_size');
      var url = `/basket/remove/${itemId}/`;
      var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

      $.post(url, data)
        .done(function() {
          location.reload();
        });
    });
  </script>
{% endblock %}