:root {
    --brand-colour: #512A97;
    --brand-colour-focussed: #3E1F79;
    --brand-colour-highlight: #D8BDE2;
    --brand-header-background-colour: #B6BBD4;
    --brand-banner-colour: #DBDBDB;
    --brand-background-colour: #CDF1E4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: var(--brand-background-colour);
}

.no-cursor {
    cursor: default;
}

.bg-brand {
    background-color: var(--brand-header-background-colour);
}

.text-brand {
    color: var(--brand-colour);
}

.nav-link {
    color: var(--brand-colour) !important;
}

.nav-link:hover {
    text-decoration: underline !important;
}

.dropdown-item {
    color: var(--brand-colour);
}

.dropdown-item:focus, .dropdown-item:hover {
    background-image: none;
    background-color: var(--brand-header-background-colour);
    color: var(--brand-colour);
}



.brand-header {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--brand-colour);
}

a[href^="mailto:"] {
    text-decoration: none;
    color: black;
}

a[href^="mailto:"]:hover {
    text-decoration: underline;
}

.social-media-link {
    color: black;
}

.social-media-link:hover {
    color: var(--brand-colour)
}

.text-underline-hover {
    text-decoration: none;
    color: black;
}

.text-underline-hover:hover {
    text-decoration: underline;
    color: black;
}

.brand-banner {
    background-color: var(--brand-banner-colour);
    margin: 0;
    padding: 10px 0;
}

/* Add separator pipe to navbar when not collapsed */
@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 0 0.5em;
    }
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
      border-right: 2px solid var(--brand-colour-highlight);
    }
  }

.header-container {
    padding-top: 83px;
}

/* Fixed top navbar only on medium and up */
@media (min-width: 768px) {
    .header-container {
        padding-top: 153px;
    }
}