:root {
    --brand-colour: 81, 42, 151;
    --brand-colour-focussed: 62, 31, 121;
    --brand-colour-highlight: 216, 189, 226;
    --brand-header-background-colour: 182, 187, 212;
    --brand-banner-colour: 219, 219, 219;
    --brand-background-colour: 205, 241, 228;
    --success-colour: 121, 236, 149;
    --danger-colour: 233, 96, 96;
    --warning-colour: 251, 210, 80;
    --info-colour: 163, 241, 255;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

html {
    overflow-x: clip;
}

body {
    background-color: rgb(var(--brand-background-colour));
    font-family: 'Jost', sans-serif;
}

input:focus,
textarea:focus,
select:focus,
.custom-select:focus,
.form-control:focus,
.StripeElement--focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.2rem rgba(var(--brand-colour), 0.4);
}

/* Override Bootstrap colours to fit site theme */
.bg-success {
    background-color: rgb(var(--success-colour)) !important;
}

.bg-danger {
    background-color: rgb(var(--danger-colour)) !important;
    color: white;
}

.bg-info {
    background-color: rgb(var(--info-colour)) !important;
}

.bg-warning {
    background-color: rgb(var(--warning-colour)) !important;
}
/* end */

input:checked {
    background-color: rgb(var(--brand-colour));
}

.no-cursor {
    cursor: default;
}

.bg-brand {
    background-color: rgb(var(--brand-header-background-colour));
}

.text-brand,
.icon-brand {
    color: rgb(var(--brand-colour));
}

a.text-brand:hover {
    color: rgb(var(--brand-colour));
    text-decoration: none;
    border-bottom: 1px solid rgb(var(--brand-colour-highlight));
}

a.icon-brand:hover {
    color: rgb(var(--brand-colour-highlight));
    text-decoration: none;
}

.border-brand-highlight-thin {
    border: 1px solid rgb(var(--brand-colour-highlight));
}

.border-brand-highlight-medium {
    border: 2px solid rgb(var(--brand-colour-highlight));
}



.nav-link {
    color: rgb(var(--brand-colour)) !important;
}

.nav-link:hover {
    text-decoration: underline !important;
}

.dropdown-item {
    color: rgb(var(--brand-colour));
}

.dropdown-item:focus, .dropdown-item:hover {
    background-image: none;
    background-color: rgb(var(--brand-header-background-colour));
    color: rgb(var(--brand-colour));
}

.brand-header {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(var(--brand-colour));
}

@media (max-width: 510px) {
    .brand-header {
        font-size: 2rem !important;
    }
}

a[href^="mailto:"] {
    text-decoration: none;
    color: black;
}

a[href^="mailto:"]:hover {
    text-decoration: underline;
}

.social-media-link {
    color: black;
}

.social-media-link:hover {
    color: rgb(var(--brand-colour))
}

.text-underline-hover {
    text-decoration: none;
    color: black;
}

.text-underline-hover:hover {
    text-decoration: underline;
    color: black;
}

.text-brand-underline-hover {
    text-decoration: none;
    color: rgb(var(--brand-colour));
}

.text-brand-underline-hover:hover {
    text-decoration: underline;
    color: rgb(var(--brand-colour));
}

.brand-banner {
    background-color: rgb(var(--brand-banner-colour));
    margin: 0;
    padding: 10px 0;
}

.toast-banner {
    font-size: large;
    margin: 0;
    padding: 10px 0;
}

.border-brand-thin {
    border: 1px solid rgb(var(--brand-colour));
}

.border-brand-medium {
    border: 2px solid rgb(var(--brand-colour));
}

.btn-brand:hover {
    border: 2px solid rgb(var(--brand-colour-highlight));
}

/* Add separator pipe to navbar when not collapsed */
@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 0 0.5em;
    }
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
      border-right: 2px solid rgb(var(--brand-colour-highlight));
    }
  }

.header-container {
    padding-top: 153px;
}

/* Fixed top navbar medium */
@media (max-width: 990px) {
    .header-container {
        padding-top: 169px;
    }
}

/* Fixed top navbar small */
@media (max-width: 767px) {
    .header-container {
        padding-top: 83px;
    }
}

/* Fixed top navbar xs */
@media (max-width: 510px) {
    .header-container {
        padding-top: 56px;
    }
}

.home-logo-img {
    max-width: 400px;
    width: 100%;
}

.basket-img {
    max-width: 128px;
}

.products-page-img {
    max-height: 234px;
    object-fit: contain;
}

.product-detail-img {
    max-height: 550px;
    object-fit: contain;
}

.products-summary {
    min-height: 77px;
}

.card-footer {
    background-color: white;
}

.remove-pointer {
    cursor: pointer;
}

.StripeElement {
    box-sizing: border-box;
    height: 38px;
    padding: 6px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: white;
}

select, select option {
    background-color: white;
    color: rgb(var(--brand-colour));
}

select:invalid, select option[value=""] {
    color: rgb(var(--brand-header-background-colour)) !important;
}

