<header class="container-fluid fixed-top bg-brand">
  <div id="topnav" class="row justify-content-md-center">
    <div class="col-md-auto my-auto text-center d-none d-md-block">
      <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <img src="/media/logo-small.webp" alt="Mini Sew 'n' Sew">
      </a>
    </div>
    <nav class="navbar navbar-expand-md navbar-light bg-brand main-nav w-100 ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="my-auto d-xs-inline d-md-none brand-header font-weight-bold display-4">Mini Sew N Sew</div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container justify-content-center">
          <ul class="navbar-nav mr-auto flex-fill w-100 justify-content-center font-weight-bold">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Leggings</a>
                <a class="dropdown-item" href="#">Dresses</a>
                <a class="dropdown-item" href="#">Rompers</a>
                <a class="dropdown-item" href="#">Jumpers</a>
                <a class="dropdown-item" href="#">Dungarees</a>
                <a class="dropdown-item" href="#">Shirts</a>
                <a class="dropdown-item" href="#">Accessories</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Basket</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
                {% else %}
                  <a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a>
                  <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
                {% endif %}
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" href="#">Log in</a>
              </div>
            </li>
          </ul>
        </div>
        {% comment %} <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> {% endcomment %}
      </div>
    </nav>
  </div>
</header>