{% extends "base.html" %}
{% load static %}
{% load product_filters %}

{% block page_header %}
	<div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
	</div>
{% endblock %}

{% block content %}
  <div class="container-fluid mt-md-4">
    <div class="row justify-content-center">
      <div class="col-md-auto my-auto">
        <div class="card h-100">
          <h2 class="ml-4 mt-4 text-brand">{{ product.friendly_name }} {{ product.category }}</h2>
          <div class="card-body">
            <img src="{{ product.image.url }}" alt="" class="img-fluid">
            <p class="mt-2">{{ product.description }}</p>
            <p>
              {% if product.ready_to_ship %}
                Ready to ship now!<br>
                Delivery in 2-3 days.
              {% else %}
                Request handmade product!<br>
                Production and delivery time approx. 3 weeks.
              {% endif %}
            </p>
            {% if product.ready_to_ship %}
            {% else %}
            {% endif %}
            <form action="{% url 'add_to_basket' product.id %}" method="post" class="form">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-6">
                  <strong>£{{ product.price }}</strong>
                </div>
                <div class="col-6">
                  <span><strong>Select size:</strong></span>
                  <select name="product_size" id="id_product_size" class="form-control d-inline">
                    {% for size in product.sizes %}
                      <option value="{{ size }}">{{ size }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <input type="hidden" name="order_type" value="{% if product.ready_to_ship %}ready{% else %}request{% endif %}">
              <input type="hidden" name="quantity" value="1">
              <div class="mt-4">
                <input type="submit" value="Add to Basket" class="btn w-100 border-brand-medium btn-brand">
              </div>
              <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
          </div>
        </div> 
        {% if reviews %}
          <div class="mt-4">
            <h2 class="text-brand pl-2">Reviews:</h2>
          </div>
          <div class="mt-4">
            {% for review in reviews %}
              <div class="card mt-1 px-4 py-2">
                <div class="row">
                  <div class="col-4"><strong>Product bought by: </strong></div>
                  <div class="col-8">{{ review.name }}</div>
                  <div class="col-4"><strong>Rating: </strong></div>
                  <div class="col-8 d-inline">
                    {% for i in review.rating|times %}
                      <span class="text-brand d-inline"><i class="fas fa-star"></i></span>
                    {% endfor %}
                  </div>
                  <div class="col-4"><strong>Review: </strong></div>
                  <div class="col-8">{{ review.review }}</div>
                </div>  
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% if user.is_authenticated %}
          <div class="card mt-4">
            <h3 class="text-brand mx-4 mt-4">Add your review!</h3>
            <form method="post" class="form px-4 pb-4">
              {% csrf_token %}
              {{ new_review_form|crispy }}
              <button type="submit" class="btn w-100 border-brand-medium btn-brand">Submit</button>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}